%li.control-group.nested-fields
  .controls
    = f.input :expiration_year, input_html: {class: 'form-control'}
    = f.fields_for :license do |licexpiration_license|
      = licexpiration_license.text_field :state
    = link_to_remove_association "remove", f