#banner
	.banner_content
		%h1 AACESO
		%p Your online guide to everything health...
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "Greatest ever"
		%p.name - Seth Merritt

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Awesome
				%p Tilde master cleanse Pinterest, mustache bitters literally distillery Vice small batch Godard. Tote bag shabby chic authentic aesthetic quinoa tattooed. Organic sriracha polaroid dreamcatcher, jean shorts bicycle rights banjo skateboard DIY fap brunch fingerstache Tumblr. PBR swag ugh four loko.
			.callout
				%i.fa.fa-rocket          
				%h2 Killer
				%p Gastropub meh church-key Brooklyn, wayfarers keffiyeh letterpress XOXO aesthetic vegan farm-to-table mixtape vinyl hella. Scenester cardigan vegan fingerstache keytar. Flexitarian tote bag normcore church-key freegan jean shorts Helvetica.
			.callout
				%i.fa.fa-bolt
				%h2 Amazeballs
				%p Williamsburg Schlitz Carles deep v brunch. Health goth tilde Shoreditch, VHS single-origin coffee pop-up messenger bag Brooklyn Godard four dollar toast squid iPhone pour-over stumptown mixtape. Twee sriracha actually, tattooed Intelligentsia street art Thundercats Marfa wolf chia flannel Kickstarter.
#bottom_cta
	.wrapper
		%h2 For reals
		%p I want you to sign up...  If you dont
		%button= link_to "SignUp Now", new_user_registration_path

%footer
	%p &copy; AAceso Health 2015