%h1 PATIENT HOMEPAGE

%br

= link_to "My Providers", '/providers', class: "btn btn-default" 
= link_to "My Schedule", '/providers', class: "btn btn-default" 
= link_to "My Pharmacy", '/providers', class: "btn btn-default" 
= link_to "TBD", '/patients', class: "btn btn-default" 