%h1 PROVIDERS

%br

= link_to "View Providers", '/providers', class: "btn btn-default" 
= link_to "View Schedule", '/providers', class: "btn btn-default" 
= link_to "View Patients", '/providers', class: "btn btn-default" 

