%h1 PROVIDER HOMEPAGE
%p Aesthetic meggings tousled semiotics kombucha venmo. Marfa drinking vinegar humblebrag pitchfork, retro meggings wayfarers slow-carb. Fashion axe viral shabby chic beard slow-carb, vegan humblebrag. Migas scenester selfies actually kickstarter squid. Vice kickstarter tote bag godard. Forage tofu hashtag, franzen mustache +1 lo-fi echo park sriracha shabby chic. Pour-over chillwave actually, kinfolk plaid lo-fi deep v health goth.

%br
= link_to "View Providers", '/providers', class: "btn btn-default" 
= link_to "View Schedule", '/providers', class: "btn btn-default" 
= link_to "View Patients", '/providers', class: "btn btn-default" 
= link_to "Create New Provider", new_provider_path, class: "btn btn-default" 

