%h3 VIEW APPOINTMENT
%br
TYPE:
=@appointment.appointmenttype.apptype
%br
PROVIDER:
=@appointment.provider.name
%br
PATIENT:
=@appointment.patient.last_name
%br
CONFIRMED:
=@appointment.apptconfirmed
%br

= link_to "Edit", edit_appointment_path, class: "btn btn-default" 
= link_to "Back", root_path, class: "btn btn-default" 